/* Signup */
div.signup {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  justify-content: center;
  margin: 45px 0;
  padding: 0 16px;
  transform: translate3d(0, 0, 0);
}

div.signup .signup-form {
  box-sizing: border-box;
  max-width: 560px;
  padding: 30px;
  width: 100%;
}

.signup-form-title {
  text-align: center;
  text-transform: capitalize;
  color: #121212;
}

.signup-portal-alert {
  margin: 16px 0 24px;
}

.signup .buttons {
  float: right;
  margin-top: 15px;
  margin-bottom: 15px;
}

.signup .buttons button {
  margin-right: 15px;
  margin-left: 0 !important;
}

/* Device width is less than or equal to 960px */

@media only screen and (max-width: 960px) {
  div.signup {
    flex-direction: column;
    margin: 32px 0;
  }

  .signup-form {
    height: 730px;
    max-width: 420px;
    padding: 24px;
  }

  .recaptcha {
    margin-top: 25px;
    margin-left: -10px;
  }
}

@media only screen and (max-width: 600px) {
  div.signup {
    margin: 20px 0;
    padding: 0 12px;
  }

  .signup-form {
    height: auto;
    max-width: none;
    padding: 20px;
  }

  .recaptcha {
    margin-left: 0;
  }
}

/* Device width is greater than or equal to 960px */

@media only screen and (min-width: 960px) {
  .signup-form {
    max-width: 550px;
    height: 610px;
  }

  .recaptcha {
    margin-top: 25px;
    margin-left: 85px;
  }
}
