div.contact {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
  transform: translate3d(0, 0, 0);
}

div.contact .form {
  margin: 100px 0;
}

.contact-state {
  margin: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 820px;
}

@media (max-width: 600px) {
  div.contact .form {
    margin: 60px 12px;
    width: calc(100% - 24px);
  }

  .contact-state {
    margin: 40px 12px;
  }
}
