/* Passwprd Reset */

div.reset-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

div.reset-password h1.reset-password-form-title {
  text-align: center;
  margin-top: 0;
}

div.resend {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.reset-password-form h1 {
  text-align: center;
  color: #232323;
}

div.reset-password div.reset-password-buttons {
  display: flex; /* Aligner les boutons horizontalement */
  gap: 10px; /* Espacement uniforme entre les boutons */
  justify-content: center; /* Les aligner à droite */
  margin-top: 20px;
}
div.reset-password div.reset-password-buttons a,
div.reset-password div.reset-password-buttons button {
  border-radius: 8px; /* Coins légèrement arrondis */
  font-size: 0.875rem; /* Taille de texte légèrement réduite */
  font-weight: 500; /* Mettre en valeur le texte */
  padding: 8px 16px; /* Espacement cohérent */
  transition: background-color 0.3s ease, color 0.3s ease; /* Douce transition au survol */
  width: 135px;
}
/* Device width is less than or equal to 960px */

@media only screen and (width <= 960px) {
  .reset-password-form {
    margin-top: 40px;
    width: 330px;
    height: 440px;
    padding: 30px;
  }
}

/* Device width is greater than or equal to 960px */

@media only screen and (width >= 960px) {
  .reset-password-form {
    margin-top: 40px;
    width: 450px;
    height: 390px;
    padding: 30px;
  }
}
