/* Signup */
div.signup {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  justify-content: center;
  -webkit-justify-content: center;
  margin: 45px 0;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

div.signup .signup-form-title {
  text-align: center;
  text-transform: capitalize;
  color: #232323;
}

div.signup div.signup-tos {
  margin-top: 10px;
}

/* Device width is less than or equal to 960px */

@media only screen and (max-width: 960px) {
  div.signup .signup-form {
    width: 350px;
    padding: 30px;
  }

  div.signup .recaptcha {
    margin-top: 25px;
    margin-left: -10px;
  }
}

div.signup div.signup-buttons {
  display: flex;
  display: -webkit-flex;
  gap: 10px;
  -webkit-gap: 10px;
  justify-content: center;
  -webkit-justify-content: center;
  margin-top: 20px;
}

div.signup div.signup-buttons a,
div.signup div.signup-buttons button {
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 8px 16px;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 135px;
}

/* Device width is greater than or equal to 960px */

@media only screen and (min-width: 960px) {
  div.signup .signup-form {
    width: 550px;
    padding: 30px;
  }

  div.signup .recaptcha {
    margin-top: 25px;
    margin-left: 85px;
  }
}

.phone-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
}

.phone-input input {
  border: none;
  outline: none;
  width: 100%;
  height: 35px;
  color: #3f3f3f;
  font-size: 15px;
}

.phone-input .react-phone-number-input__country {
  margin-right: 8px;
}
