/* Signin */
div.signin {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  justify-content: center;
  -webkit-justify-content: center;
  margin: 45px 0;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

div.signin .signin-form-title {
  text-align: center;
  text-transform: capitalize;
  margin-top: 35px;
  color: #232323;
}

div.signin div.signin-buttons {
  display: flex;
  display: -webkit-flex;
  gap: 10px;
  -webkit-gap: 10px;
  justify-content: center;
  -webkit-justify-content: center;
  margin-top: 20px;
}

div.signin div.signin-buttons a,
div.signin div.signin-buttons button {
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 8px 16px;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 135px;
}

div.signin div.signin-button {
  display: flex;
  display: -webkit-flex;
  gap: 10px;
  -webkit-gap: 10px;
  justify-content: center;
  -webkit-justify-content: center;
  margin-top: 20px;
}

div.signin div.signin-button a,
div.signin div.signin-button button {
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 8px 16px;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

div.signin .form-error {
  clear: both;
  height: 65px;
  padding-top: 10px;
  text-align: center;
}

div.signin div.stay-connected {
  margin-top: 15px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}

div.signin div.stay-connected input[type='checkbox'] {
  margin-right: 5px;
}

div.signin div.stay-connected label {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  -webkit-user-select: none;
  user-select: none;
}

div.signin div.forgot-password {
  margin-top: 15px;
}

/* Device width is less than or equal to 960px */

@media only screen and (max-width: 960px) {
  div.signin .signin-form {
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    display: flex;
    display: -webkit-flex;
    width: 350px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 15px;
  }

  div.signin div.signin-buttons {
    margin-top: 15px;
    margin-bottom: 5px;
    display: grid;
    width: 100%;
  }

  div.signin div.signin-button {
    margin-top: 15px;
    margin-bottom: 5px;
    display: grid;
    width: 100%;
  }

  div.signin div.signin-buttons button {
    margin-right: 0;
  }
}

/* Device width is greater than or equal to 960px */

@media only screen and (min-width: 960px) {
  div.signin .signin-form {
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    display: flex;
    display: -webkit-flex;
    width: 380px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 15px;
  }
}
